<!-- prettier-ignore -->
<footer class="px-20 py-9 bg-gray-100 dark:bg-black dark:text-white max-sm:p-6">
  <div
    class="flex items-center justify-between gap-2 pb-4 border-b border-black/40 dark:border-white/40"
  >
    <div class="flex items-center select-none">
      <div class="logo-lg bg-cover bg-logo-gray mr-1 max-sm:logo-sm"></div>
      <span class="logo-text text-5xl text-black/50 dark:text-white max-sm:text-3xl">Illusion Tech</span>
    </div>
    <div class="flex items-center gap-6 text-xl max-sm:gap-2">
      <app-select
        [title]="selectorTitle"
        [default]="defaultTheme"
        [options]="themes"
        (onSelect)="changeTheme($event)"
      ></app-select>
      <button
        class="flex items-center gap-1 h-16 px-6 py-4 border border-black/40 rounded-full dark:border-white/60
          max-sm:h-auto max-sm:p-3"
        (click)="backupTop()"
      >
        <span class="max-lg:hidden" i18n>回到顶部</span>
        <svg
          class="fill-black dark:fill-white"
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M8.70711 0.292893C8.31658 -0.0976314 7.68342 -0.0976315 7.29289 0.292893L0.928933 6.65685C0.538408 7.04738 0.538408 7.68054 0.928933 8.07107C1.31946 8.46159 1.95262 8.46159 2.34315 8.07107L8 2.41421L13.6569 8.07107C14.0474 8.46159 14.6805 8.46159 15.0711 8.07107C15.4616 7.68054 15.4616 7.04738 15.0711 6.65685L8.70711 0.292893ZM9 16L9 1L7 1L7 16L9 16Z"
          />
        </svg>
      </button>
    </div>
  </div>
  <section class="py-4">
    <!-- TODO -->
  </section>
  <div
    class="font-noto text-base text-gray-500 pt-4 border-t border-black/40 dark:border-white/40 max-sm:text-xs"
  >
    <p i18n>
      Copyright © 2023 Illusion Tech Inc. 保留所有权利。
    </p>
    <div class="flex items-center justify-between max-sm:flex-col max-sm:items-start max-sm:pt-1 max-sm:gap-1">
      <div>
        <a href="https://beian.miit.gov.cn" target="_blank" class="mr-3" i18n>京ICP备2023001853号-1</a>
        <a href="https://www.gsxt.gov.cn" target="_blank" i18n>营业执照 91110114MA7HR2LNX9</a>
      </div>
      <div class="text-sm max-sm:text-xs" i18n>
        更多联系方式：北京市海淀区中关村大街18号14层1621-3，或致电 17600312293
      </div>
    </div>
  </div>
</footer>
