<!-- prettier-ignore -->
<section
  class="first-section mx-auto pt-48 text-center font-noto text-zinc-600 dark:bg-black dark:text-white"
>
  <h1 class="flex justify-center font-black text-8xl">
    <span class="pt-2 bg-gradient-light bg-clip-text text-transparent dark:bg-gradient-dark">开源幻境</span>
  </h1>
  <h3 class="font-medium text-6xl inline-block mt-3">
    <span class="bg-gradient-purple bg-clip-text text-transparent dark:!text-white">
      您的专属软硬件研发工程师
    </span>
  </h3>
  <ul class="flex gap-4 justify-center font-extrabold text-2xl mt-14">
    <li>简单</li>
    <li>快速</li>
    <li>高效</li>
    <li>省心</li>
  </ul>
  <p class="text-2xl mt-4">
    开源幻境是一个为您量身定制的编程团队:)<br />
    专业研发软硬件，PC程序，手机APP和在线网络平台<br />
    程序包含设计的一条龙服务，一切都会以远程的形式完成。
  </p>
  <div class="flex gap-8 justify-center mt-9 text-2xl">
    <button
      class="px-6 py-2 bg-gradient-purple bg-clip-text text-transparent dark:!text-white"
    >
      了解服务
    </button>
    <button class="px-6 py-2 rounded-lg border-3 border-solid border-transparent
      bg-gradient-btn-outline bg-clip-p-b dark:bg-gradient-btn"
    >
      <span class="bg-gradient-light bg-clip-text text-transparent dark:!text-white">立刻咨询</span>
    </button>
  </div>
  <h6 class="font-inter mt-20">技术与语言</h6>
  <ul class="flex gap-16 justify-center mt-8 font-inter font-black text-4xl">
    <li
      *ngFor="let lang of langurage"
      class="bg-gradient-purple bg-clip-text text-transparent dark:!text-white"
    >
      {{ lang }}
    </li>
  </ul>
</section>

<section class="second-section dark:bg-black"></section>
