<section class="first-section mx-auto mt-52 text-center font-noto">
  <h1 class="font-black text-8xl">开源幻境</h1>
  <h3 class="font-medium text-6xl text-gradient mt-3 purple-text-gradient">
    您的专属软硬件研发工程师
  </h3>
  <ul class="flex gap-4 justify-center font-extrabold text-2xl mt-14">
    <li>简单</li>
    <li>快速</li>
    <li>高效</li>
    <li>省心</li>
  </ul>
  <p class="text-2xl mt-4">
    开源幻境是一个为您量身定制的编程团队:)<br />
    专业研发软硬件，PC程序，手机APP和在线网络平台<br />
    程序包含设计的一条龙服务，一切都会以远程的形式完成。
  </p>
  <div class="flex gap-8 justify-center mt-9 text-2xl">
    <button class="px-6 py-2 text-gradient purple-text-gradient">
      了解服务
    </button>
    <button class="border-gradient-light-btn px-6 py-2">
      <span class="bg-gradient-light text-gradient">立刻咨询</span>
    </button>
  </div>
  <h6 class="font-inter mt-20">技术与语言</h6>
  <ul
    class="flex gap-16 justify-center mt-8 font-inter font-black text-4xl purple-text-gradient"
  >
    <li>C++</li>
    <li>JAVA</li>
    <li>HTML</li>
    <li>EXAMPLE</li>
    <li>···</li>
  </ul>
</section>

<section class="second-section"></section>
