section {
  height: 56rem;
  transition: all 0.3s;
}

.lattice {
  position: relative;
  z-index: 0;
  transform: perspective(50rem) rotateX(60deg);
  animation: bg-translateY 10s linear infinite;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(currentColor, transparent, currentColor);
    transition: all 0.3s;
  }
}

@keyframes bg-translateY {
  0% {
    background-position: 0% -7%;
  }
  100% {
    background-position: 0% 100%;
  }
}
