<!-- prettier-ignore -->
<nav
  class="fixed z-50 top-0 w-full h-28 flex justify-between items-center px-32 max-lg:px-16 max-md:px-8 max-sm:h-20
  bg-white/75 backdrop-blur-md shadow-md dark:bg-black/75"
>
  <div class="flex items-center select-none mr-10">
    <div class="logo-md mr-1 bg-cover bg-logo-light dark:bg-logo-dark max-sm:logo-sm"></div>
    <span class="logo-text text-4xl dark:text-white max-sm:text-3xl">Illusion Tech</span>
  </div>
  <ul
    class="flex flex-auto max-w-xl items-center justify-between text-2xl font-noto text-gray-500 dark:text-white max-sm:hidden"
  >
    <li class="cursor-pointer" i18n>首页</li>
    <li class="cursor-pointer" i18n>服务</li>
    <li class="cursor-pointer" i18n>产品</li>
    <li>
      <button class="group button border-3 border-transparent
        bg-gradient-btn-outline bg-clip-p-b hover:animate-bg-rotate dark:bg-gradient-btn"
      >
        <span class="bg-gradient-purple bg-text group-hover:bg-flow dark:!text-white" i18n="@@consult">立刻咨询</span>
      </button>
    </li>
  </ul>
</nav>
<div class="w-full h-28 dark:bg-black"></div>
