<!-- prettier-ignore -->
<nav
  class="fixed z-50 top-0 w-full h-28 flex justify-between items-center px-32 max-lg:px-16 max-md:px-8 max-sm:h-20
  bg-white/75 backdrop-blur-md shadow-md dark:bg-black/75"
>
  <div class="flex items-center select-none mr-10">
    <div class="logo-md mr-1 bg-cover bg-logo-light dark:bg-logo-dark max-sm:logo-sm"></div>
    <span class="logo-text text-4xl dark:text-white max-sm:text-3xl">Illusion Tech</span>
  </div>
  <div
    class="flex flex-auto max-w-xl items-center justify-between text-2xl font-noto text-gray-500 dark:text-white max-sm:hidden"
  >
    <a [routerLink]="['/']" i18n="@@consult">首页</a>
    <a [routerLink]="['/services']" i18n="@@consult">服务</a>
    <a [routerLink]="['/products']" i18n="@@consult">产品</a>
    <a>
      <div class="p-[3px] rounded-lg bg-gradient-btn-outline hover:bg-gradient-btn-outline-hover hover:animate-bg-rotate
        dark:bg-gradient-btn dark:hover:bg-flow-dark">
        <button class="group button bg-white focus:bg-gradient-btn-outline-focus dark:bg-transparent dark:focus:bg-none">
          <span class="bg-gradient-purple bg-text group-hover:bg-flow dark:!text-white" i18n="@@consult">立刻咨询</span>
        </button>
      </div>
    </a>
  </div>
  <div
    (click)="toggleMenu($event)"
    [ngClass]="menuExpand ? '-translate-x-20' : ''"
    class="menu hidden z-10 w-6 h-5 max-sm:block transition"
  >
    <div
      [ngClass]="menuExpand ? 'rotate-45 translate-x-[4px] translate-y-[8px]' : ''"
      class="w-full h-1 bg-black rounded dark:bg-white"
    ></div>
    <div
      [ngClass]="menuExpand ? 'opacity-0' : ''"
      class="w-full h-1 my-1 bg-black rounded dark:bg-white"
    ></div>
    <div
      [ngClass]="menuExpand ? '-rotate-45 translate-x-[4px] -translate-y-[8px]' : ''"
      class="w-full h-1 bg-black rounded dark:bg-white"
    ></div>
  </div>
  <div
    [ngClass]="menuExpand ? '!translate-x-0' : ''"
    class="panel absolute right-0 top-0 w-40 bg-white p-7 pl-20 text-xl dark:text-white dark:bg-gray-900 rounded-lg rounded-t-none rounded-r-none shadow-md translate-x-40 transition hidden max-sm:block"
  >
    <a [routerLink]="['/']" class="block" i18n="@@consult">首页</a>
    <a [routerLink]="['/services']" class="block my-2" i18n="@@consult">服务</a>
    <a [routerLink]="['/products']" class="block" i18n="@@consult">产品</a>
  </div>
</nav>
<div class="w-full h-28 max-sm:h-20 dark:bg-black"></div>
