<!-- prettier-ignore -->
<nav
  class="fixed top-0 w-full h-28 flex justify-between items-center px-32 max-lg:px-20 max-md:px-8
  bg-white bg-opacity-75 backdrop-blur-md dark:bg-black dark:bg-opacity-75"
>
  <div class="flex items-center select-none mr-5">
    <div class="logo bg-cover bg-logo-light dark:bg-logo-dark"></div>
    <span class="whitespace-nowrap font-inter font-black text-4xl dark:text-white">Illusion Tech</span>
  </div>
  <ul
    class="flex flex-auto max-w-xl items-center justify-between text-2xl font-noto text-gray-500 dark:text-white"
  >
    <li class="cursor-pointer">首页</li>
    <li class="cursor-pointer">服务</li>
    <li class="cursor-pointer">产品</li>
    <li>
      <button class="px-6 py-2 rounded-lg border-3 border-solid border-transparent bg-gradient-btn-outline bg-clip-p-b dark:bg-gradient-btn">
        <span class="bg-gradient-light bg-clip-text text-transparent dark:!text-white">立刻咨询</span>
      </button>
    </li>
  </ul>
</nav>
<div class="w-full h-28 dark:bg-black"></div>
